/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
/* @import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css); */


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
/* new css*/


p {
	color: black;
  }
  
  #surround{
  display:inline-block;
  width:12.2%;
  }
  #onhover {
  display: none;
  }

  #surround:hover span[id="onhover"] {
  display: block;
  }
  
  .icon-bar {
  width: 100%;
  overflow: hide;
  padding-top: 7px;
  background-color:transparent;
  padding-bottom:100px;
  /* padding-left: 1600 px; */
  margin-left: 50%;
  }
  
  .icon-bar a {
  /*float: right;*/
  width: 12.5%;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
  }
  
  .esm-icon {
  opacity:0.5!important;
  min-width: 55px;
  max-width: 55px;
  
  display: block;
  margin: auto;
  /* border-radius: 100%; */
  border: 2px solid transparent;
  }
  
  
  .esm-icon-active {
  opacity:1!important;
  min-width: 55px;
  max-width: 55px;
  display: block;
  margin: auto;
  border-radius: 100%;
  border: 2px solid transparent;
  }
/* new css */
img{max-width:100%;}
/*end reset*/
.wrapper,.w3layouts_more-buttn {
    text-align: center;
}


.button
{
	border-radius: 70%;;
	width:150px;
	height: 55px;
	background-color: darkorange;
	color: white;
	margin-top: 50px;
	/* opacity: 0.5; */
}
button:hover 
{
	background-color: transparent;
}
.fa {
	padding: 20px;
	font-size: 20px;
	width: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	/* margin-left: 30%;; */

  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  .fa-instagram {
	background: linear-gradient(to bottom, orange 0%, purple 100%);
	color: white;
  }
  .ksm_dau_bcta p a span {
    position: relative;
    display: block;
    color: #fff!important;
    font-family: 'Noto Sans Hebrew',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
}

.ksm_dau_bcta p a {
    position: relative;
    display: block;
    padding: 15px 0 15px 0;
    background: #227CB3;
    overflow: hidden;
    border-radius: 3px;
	text-decoration: none;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Noto Sans Hebrew',sans-serif;
}
/* .ksm_dau_bcta p a:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    -moz-transform: translate3d(0,-50%,0) rotate(-45deg);
    -webkit-transform: translate3d(0,-50%,0) rotate(-45deg);
    -o-transform: translate3d(0,-50%,0) rotate(-45deg);
    -ms-transform: translate3d(0,-50%,0) rotate(-45deg);
    transform: translate3d(0,-50%,0) rotate(-45deg);
} */
.ksm_dau_bcta p a:before {
    position: absolute;
    content: '';
    top: 50%;
    right: 22px;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    transform: translate3d(0,-50%,0) rotate(-45deg);
	-webkit-transform: translate3d(0,-50%,0) rotate(135deg);

	-moz-transform: translate3d(0,-50%,0) rotate(135deg);
    -o-transform: translate3d(0,-50%,0) rotate(135deg);
    -ms-transform: translate3d(0,-50%,0) rotate(135deg);
	
    margin-right: 150px;

}
/* i {
	position: absolute;
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	height: 9px;
	width:9px;
  }
.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  } */
  
body{
	background: url(../images/contentbg.jpg) no-repeat 0px 0px;
	background-attachment: fixed;
    background-position: center;
    background-size: cover;
	font-family: 'Noto Sans Hebrew',sans-serif;
	
}
.top-bar-agile{
	 width: 62%;
	 margin:0 auto;
	 padding:40px 0;
}
.logo-agileits{
	width:20%;
	float:left;
}
.logo-agileits img {
    width: 25%;
}
.nav-agileinfo{
	width:80%;
	float:right;
	text-align:right;
}
.nav-agileinfo ul li{
	display:inline;
}
.nav-agileinfo ul li a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 16px 15px;
	 -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.nav-agileinfo ul li a:hover{
	color:#71c1ff;
}
.content-w3{
      background: url(../images/bg.jpg) no-repeat 0px -89px;
    background-size: cover;
    width: 62%;
    margin: 0 auto;
    min-height: 511px;
}
.content-w3 h1 {
    font-size: 200px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 700;
    color: #227CB3;
	/* font-family: 'Ravi Prakash', cursive; */
	font-family: 'Noto Sans Hebrew',sans-serif;
	text-shadow:9px 9px 3px hsl(206, 15%, 40%);
}
.content-w3 h2{
	font-size:30px;
	letter-spacing:3px;
	text-align:center;
	color:#227CB3;
	font-family: 'Noto Sans Hebrew',sans-serif;
}
.content-w3 p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 60px auto 0 auto;
    line-height: 30px;
}
.footer-w3ls p {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
	margin:30px 0px 20px 0;
}
.footer-w3ls p a{
	color:#fff;
	 -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.footer-w3ls p a:hover{
	text-decoration:underline;
}
.picto-contact{
	display: block;
	margin-left: auto;
	margin-right: auto;
    /* padding-bottom: 20px; */
    /* margin: 0 auto; */
    width: 80px;
    height: 50px;
    background: url(../images/home.png) no-repeat;
}

#_desktop_user_info a .picto-user {
    display: block;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 24px;
    height: 16px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…9ybT0idHJhbnNsYXRlKDAuMDMgLTEwLjI3NCkiLz4KICAgIDwvZz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat;
}
/* Style the navigation bar */
.navbar {
	width: 100%;
	background-color: #555;
	overflow: auto;
  }
  
 


  /* Navbar links */
  .navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
	background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
	background-color: #4CAF50;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
	.navbar a {
	  float: none;
	  display: block;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
@media(max-width:1366px){
	.content-w3 h1 {
		font-size: 175px;
	}
	.content-w3 p {
		margin: 40px auto 0 auto;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:1080px){
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -94px -71px;
	}
	.content-w3 {
		min-height: 563px;
	}
	.content-w3 p {
		width: 65%;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:1024px){
	.top-bar-agile {
		width: 71%;
	}
	.content-w3 {
		width: 71%;
		min-height: 454px;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:768px){
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -193px -80px;
	}
	.content-w3 p {
		width: 75%;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:736px){
	.top-bar-agile {
		padding: 25px 0;
	}
	.logo-agileits img {
		width: 36%;
	}
	.logo-agileits {
		margin-top:10px;
	}
	.content-w3 p {
		width: 82%;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:667px){
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -242px -86px;
	}
	.content-w3 p {
		width: 90%;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:600px){
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -263px -86px;
	}
	.nav-agileinfo ul li a {
		font-size: 16px;
		padding: 16px 12px;
	}
	.content-w3 h1 {
		font-size: 160px;
	}
	.content-w3 p {
		width: 92%;
		font-size:15px;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:568px){
	.content-w3 h2 {
		font-size: 28px;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}

@media(max-width:480px){
	.logo-agileits img {
		width: 44%;
	}
	.nav-agileinfo ul li a {
		font-size: 15px;
		padding: 16px 9px;
	}
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -293px -86px;
	}
	.content-w3 h1 {
		font-size: 150px;
	}
	.content-w3 h2 {
		font-size: 24px;
		letter-spacing: 2px;
	}
	.footer-w3ls p {
		color: #fff;
		font-size: 14px;
		width:90%;
		margin:20px auto;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:414px){
	.top-bar-agile {
		width: 80%;
	}
	.logo-agileits img {
		width: 48%;
	}
	.nav-agileinfo ul li a {
		font-size: 15px;
		padding: 16px 7px;
	}
	.content-w3 {
		width: 80%;
		min-height:425px;
	}
	.content-w3 h1 {
		font-size: 140px;
	}
	.content-w3 h2 {
		font-size: 22px;

	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
@media(max-width:384px){
	.nav-agileinfo ul li a {
		font-size: 14px;
		padding: 16px 6px;
	}
	.top-bar-agile {
		width: 85%;
	}
	.content-w3 {
		width: 85%;
	}
	.content-w3 h2 {
		font-size: 20px;
	}
	.content-w3 p {
		width: 100%;
		font-size: 14px;	
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}

}
@media(max-width:320px){
	.top-bar-agile {
		padding:15px 0;
	}
	.nav-agileinfo ul  a {
		font-size: 13px;
		padding: 16px 4px;
	}
	#surround{
		display:inline-block;
		width:100%;
		}
	.content-w3 {
		background: url(../images/bg.jpg) no-repeat -333px -86px;
	}
	.content-w3 h1 {
		font-size: 135px;
	}
	.content-w3 h2 {
		font-size: 18px;
	}
	.esm-icon{
		margin-left: 10 px ;margin-right: 10 px;
	}
	#surround{
		white-space: nowrap;
		width:22.5%;
		/* margin-right: 1 px; */
		
	}
	.icon-bar{
		align-items: center;
	}
	.esm-icon {
		opacity: 0.5!important;
		min-width: 55px;
		max-width: 55px;
		display: block;
		margin: auto;
		/* border-radius: 100%; */
		border: 2px solid transparent;
		
	}
	ol, ul {
		list-style: none;
		margin: 0px;
		padding: 0px;
		/* align-content: center; */
		width: 50%;
	}
	.icon-bar {
		width: 100%;
		/* overflow: hide; */
		padding-top: 7px;
		background-color: transparent;
		padding-bottom: 0px;
		margin-left: 50%;
	}

	#surround{
	width: 100%;
    display: inline-block;
	}
}
  }